@model Assistance_Proyect.ViewModels.CalcViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Calculator", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <p>Input your operation :</p>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.NumberA, new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.NumberA, "", new { @class = "text-danger" })<br />
        </div>
        <div class="col-md-4">
            @Html.EnumDropDownListFor(model => model.Operator, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.NumberB, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NumberB, "", new { @class = "text-danger" })
        </div>

        @if (Model.Result.HasValue)
        {
            <p style="text-align:center">The result is: @Model.Result.Value</p>
        }


        @*Input your operation : <input class="form-control" type="text" id="NumberA" name="NumberA"><input type"text" id="oper" size="1"><input type="text" id="val2">*@
        <br>
        <label id="label1"></label>
        <input type="submit" style="float:left" class="btn btn-info" value="Calculate" />
    </div>
}

@*<from method="post" actions="/Home/Calculator">
    Introduzca su operación : <input type="text" id="val1"><input type"text" id="oper" size="1"><input type="text" id="val2">
    <br>
    <label id="label1"></label>
    <input type="submit" value="Resultado" />
</from>*@
