@model Assistance_Proyect.ViewModels.CalcViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Calculator", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <p>Input your operation :</p>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.NumberA, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.NumberA, "", new { @class = "text-danger" })<br />
            </div>
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.Operator, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.NumberB, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumberB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @if (Model.Result.HasValue)
            {
                <div class="col-md-4 col-md-offset-4">
                    <p class="result">The result is: @Model.Result.Value</p>
                </div>
            }
        </div>
        <div class="form-group">
            <br>
            <label id="label1"></label>
            <input type="submit" class="btn btn-info" value="Calculate" />
        </div>
        

       


        @*Input your operation : <input class="form-control" type="text" id="NumberA" name="NumberA"><input type"text" id="oper" size="1"><input type="text" id="val2">*@
        
    </div>
}

@*<from method="post" actions="/Home/Calculator">
    Introduzca su operación : <input type="text" id="val1"><input type"text" id="oper" size="1"><input type="text" id="val2">
    <br>
    <label id="label1"></label>
    <input type="submit" value="Resultado" />
</from>*@

@section Styles
{
    @Styles.Render("~/Content/calculator.css")
}

@section Scripts
{
    @Scripts.Render("~/Scripts/calculator.js")
}